
 <%= form_for :male, url:{action:"create"} do |f| %>
  <p>
    <%= f.label :shirt %><br>
    <%= f.text_field :shirt %>
  </p>
 
  <p>
    <%= f.label :pant %><br>
    <%= f.text_area :pant %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %> 